body{
    background-color: antiquewhite;
}
.main{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.heading{
    display: flex;
    flex-flow: row wrap;
    /* padding: 18px 20px 20px 450px; */
    color:rgb(45, 136, 196) ;
    margin-top: 100px;

}
#loginIcon{
    max-width: 60px
}
form{
    margin-top: 20px;    
}
div{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: centre;
}
input{
    flex: auto;
    
}


label{
    font-size: larger;
    color:rgb(45, 136, 196) ;
    text-align: right;
    margin-right: 5%;
    width: 40%;
}
label,input{
    line-height: 1.5;
}
.button{
    width: 30%;
    margin-left: 3.5em;

}
